@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: 'Metal Mania';
    src: url('../font/MetalMania.ttf') format('truetype');
}

.metal-mania {
    font-family: 'Metal Mania', sans-serif;
    font-weight: 400;
}

.dropdown-menu-offset {
    z-index: 50;
    pointer-events: auto;
}

.svg-path {
    stroke: #323232;
    transition: stroke 0.3s;
}

.group:hover .svg-path {
    stroke: #2563eb; /* Tailwind's blue-600 */
}