@{
    ViewData["Title"] = "Dashboard";
    Layout = "Layouts/_LayoutsDash";
}

<div class="font-[sans-serif] mx-auto max-w-6xl">
    <div class="w-full rounded bg-gray-50 px-12 py-8 max-sm:px-8">
        <div class="mt-4">
            <p class="text-sm leading-relaxed text-gray-800">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan, nunc et
                tempus blandit, metus mi consectetur nibh, a pharetra felis turpis vitae ligula. Etiam laoreet velit nec neque
                ultrices, non consequat mauris tincidunt.
            </p>
        </div>

        <button type="button" class="mt-6 rounded border-none bg-blue-600 px-6 py-3 text-sm tracking-wider text-white outline-none hover:bg-blue-700">Get started now</button>
    </div>

    <div class="mt-4 grid gap-4 md:grid-cols-2">
        <div class="bg-[#333] w-full rounded px-12 py-8 text-white max-sm:px-8">
            <h2 class="text-2xl font-bold">Dark Card</h2>
            <div class="mt-4">
                <p class="text-sm leading-relaxed">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan, nunc et
                    tempus blandit, metus mi consectetur nibh, a pharetra felis turpis vitae ligula. Etiam laoreet velit nec neque
                    ultrices, non consequat mauris tincidunt.
                </p>
            </div>
            <button type="button" class="mt-6 rounded border-none bg-gray-600 px-6 py-3 text-sm tracking-wider outline-none hover:bg-gray-700">Learn more</button>
        </div>

        <div class="w-full rounded bg-gray-50 px-12 py-8 max-sm:px-8">
            <h2 class="text-2xl font-bold text-gray-800">Gray Card</h2>
            <div class="mt-4">
                <p class="text-sm leading-relaxed">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan, nunc et
                    tempus blandit, metus mi consectetur nibh, a pharetra felis turpis vitae ligula. Etiam laoreet velit nec neque
                    ultrices, non consequat mauris tincidunt.
                </p>
            </div>
            <button type="button" class="mt-6 rounded border-none bg-gray-200 px-6 py-3 text-sm tracking-wider text-gray-800 outline-none hover:bg-gray-300">Learn more</button>
        </div>
    </div>
</div>