@model Northwind.ViewModels.RegisterVm
@{
    ViewData["Title"] = "Register";
}

<div class="flex items-center justify-center bg-gray-100 px-4 py-12 sm:px-6 lg:px-8">
    <div class="w-full max-w-screen-lg space-y-8 rounded-xl bg-white p-10 shadow-lg">
        <div>
            <h2 class="mt-6 text-center text-3xl font-bold text-gray-900">
                Create your account
            </h2>
        </div>
        <form asp-action="Register" method="post" class="mt-8 space-y-6">
            <div class="grid-cols-1 grid gap-6 sm:grid-cols-2">
                <div class="relative">
                    <label asp-for="FirstName" class="sr-only"></label>
                    <input asp-for="FirstName" class="relative block w-full appearance-none rounded-lg border border-gray-300 py-2 pl-10 pr-3 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="First Name">
                    <span asp-validation-for="FirstName" class="text-sm text-red-500"></span>
                </div>
                <div class="relative">
                    <label asp-for="LastName" class="sr-only"></label>
                    <input asp-for="LastName" class="relative block w-full appearance-none rounded-lg border border-gray-300 py-2 pl-10 pr-3 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Last Name">
                    <span asp-validation-for="LastName" class="text-sm text-red-500"></span>
                </div>
                <div class="relative">
                    <label asp-for="UserName" class="sr-only"></label>
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <i class="fa fa-user-tag text-gray-400"></i>
                    </div>
                    <input asp-for="UserName" class="relative block w-full appearance-none rounded-lg border border-gray-300 py-2 pl-10 pr-3 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Username">
                    <span asp-validation-for="UserName" class="text-sm text-red-500"></span>
                </div>
                <div class="relative">
                    <label asp-for="Email" class="sr-only"></label>
                    <input asp-for="Email" type="email" autocomplete="email" class="relative block w-full appearance-none rounded-lg border border-gray-300 py-2 pl-10 pr-3 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address">
                    <span asp-validation-for="Email" class="text-sm text-red-500"></span>
                </div>
            </div>
            <div class="space-y-6">
                <div class="relative">
                    <label asp-for="Password" class="sr-only"></label>
                    <input asp-for="Password" type="password" autocomplete="new-password" class="relative block w-full appearance-none rounded-lg border border-gray-300 py-2 pl-10 pr-3 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
                    <span asp-validation-for="Password" class="text-sm text-red-500"></span>
                </div>
                <div class="relative">
                    <label asp-for="ConfirmPassword" class="sr-only"></label>
                    <input asp-for="ConfirmPassword" type="password" autocomplete="new-password" class="relative block w-full appearance-none rounded-lg border border-gray-300 py-2 pl-10 pr-3 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword" class="text-sm text-red-500"></span>
                </div>
            </div>
            <div>
                <button type="submit" class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Sign Up
                </button>
            </div>
        </form>
        <div class="text-center text-sm">
            <a class="font-medium text-indigo-600 hover:text-indigo-500" asp-action="Login">
                Already have an account? Sign in
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
