@{
    ViewData["Title"] = "Home Page";
}
<div class="container mx-auto px-6 py-16">
    <div class="items-center lg:flex">
        <div class="w-full lg:w-1/2">
            <div class="lg:max-w-lg">
                <h1 class="text-3xl font-semibold text-gray-800 lg:text-4xl">Best place to choose <br> your <span class="text-blue-500">clothes</span></h1>

                <p class="mt-3 text-gray-600 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro beatae error laborum ab amet sunt recusandae? Reiciendis natus perspiciatis optio.</p>

                <button class="mt-6 w-full transform rounded-lg bg-blue-600 px-5 py-2 text-sm uppercase tracking-wider text-white transition-colors duration-300 hover:bg-blue-500 focus:outline-none focus:bg-blue-500 lg:w-auto">Shop Now</button>
            </div>
        </div>

        <div class="mt-6 flex w-full items-center justify-center lg:mt-0 lg:w-1/2">
            <img class="h-full w-full lg:max-w-3xl" src="https://merakiui.com/images/components/Catalogue-pana.svg" alt="Catalogue-pana.svg">
        </div>
    </div>
</div>
